header.header
    h1.header__title IP Address Tracker 
    form#form.header__form
        input(type="text" name="address" placeholder="Search for any IP address or domain").form__input
        button.form__button &#x276F;